.title  {
    background-color: palevioletred;
    font-size: 40px;
    font-style: italic;
    text-align: center;
}
.one {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.recipe-links{
    background-color: palevioletred;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}
.recipe-image{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.credit{
    background-color: palevioletred;
    font-size: 14px;
}